@import "_clock";
label {
    font-family: "Raleway", sans-serif;
    letter-spacing: calc(var(--font-size)*0.1);
}

.drex-ftr {
    height: unset;
    grid-template-columns: 10fr;
    .ftr-loc {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.drex-slider {
    --thumb-width: 25pt;
    appearance: none;
    width: 100%;
    height: var(--thumb-width);
    background: var(--primary-500);
    outline: none;
    border-radius: var(--border-radius) 0;
    overflow: hidden;
    cursor: ew-resize;
    transition-duration: 0.5s;
}

.drex-slider.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.drex-slider::-moz-range-thumb {
    width: var(--thumb-width);
    height: 100%;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    background-color: var(--secondary-500);
    outline: none;
    border: none;
}

.drex-slider::-moz-range-progress {
    height: 100%;
    background-color: var(--secondary-500);
    border: none;
}

.drex-slider::-webkit-slider-thumb {
    width: var(--thumb-width);
    -webkit-appearance: none;
    height: 100%;
    cursor: ew-resize;
    background: var(--secondary-500);
    box-shadow: -100px 0 0 80px var(--secondary-500);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border: none;
}

.drex-slider::-webkit-slider-runnable-track {
    height: 100%;
    -webkit-appearance: none;
    color: var(--secondary-500);
    border: none;
}

.drex-slider::-ms-thumb {
    width: var(--thumb-width);
    height: 100%;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    background-color: var(--secondary-500);
    outline: none;
    border: none;
}

.drex-checkbox,
.drex-radio {
    --size: 25pt;
    label {
        display: block;
        position: relative;
        padding-left: calc(var(--size) + 1em);
        margin-bottom: 1em;
        cursor: pointer;
        font-size: var(--size);
        user-select: none;
        opacity: 0.9;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            pointer-events: none;
        }
        input:checked~span {
            background-color: var(--secondary-500);
            border-color: var(--secondary-500);
        }
        input:checked~span:after {
            display: block;
        }
        span {
            position: absolute;
            top: 0;
            left: 0;
            height: var(--size);
            width: var(--size);
            background-color: var(--background);
            transition-duration: 0.3s;
            border: calc(var(--size)*0.1) solid var(--primary-500);
            border-radius: calc(var(--size)*0.1);
            pointer-events: none;
        }
        span:after {
            content: "";
            position: absolute;
            display: none;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 20%;
            height: 50%;
            border: solid var(--background);
            border-width: 0 calc(var(--size)*0.15) calc(var(--size)*0.15) 0;
            border-radius: calc(var(--size)*0.1);
            z-index: 10;
        }
    }
    label:hover {
        input~span {
            border-color: var(--secondary-500);
        }
        input:checked~span {
            background-color: var(--background);
        }
        input:checked~span::after {
            border-color: var(--secondary-500);
        }
    }
}

.drex-radio {
    label {
        input:checked~span {
            background-color: var(--background);
            border-color: var(--secondary-500);
        }
        span {
            border-radius: 100%;
        }
        span:after {
            opacity: 0.8;
            transform: translate(-50%, -50%);
            width: 60%;
            height: 60%;
            background-color: var(--secondary-500);
            border-radius: 100%;
            border: none;
        }
    }
    label:hover {
        input~span {
            border-color: var(--secondary-500);
        }
        input:checked~span::after {
            opacity: 1;
        }
    }
}