@import "_preferences";
:root {
    --padding: 15pt;
    --rows: 6;
    --cols: 4;
    --stroke-width: 30pt;
    --primary-500: #13246b;
    --secondary-500: #dfaf12;
    --background: #dedede;
    --top-gradient: #c4c4c4;
    --bottom-gradient: #f1f1f1;
    --shadow: #0a0a37;
    --glow: #f8f7f7;
    --font-size: 12pt;
}

[data-theme="dark"] {
    --primary-500: #006e8b;
    --background: #0f0f26;
    --top-gradient: #191930;
    --bottom-gradient: #05051c;
    --shadow: #000013;
    --glow: #006481;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(145deg, var(--top-gradient), var(--bottom-gradient));
    overflow: hidden;
    padding: 0;
    height: 100vh;
}

.clock-bg-filter {
    height: 0;
}

.main-content {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100dvh;
}

.display-page {
    flex-flow: column nowrap;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    padding: var(--padding);
    box-sizing: border-box;
}

.preferences-page {
    flex-flow: column;
    scroll-snap-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        height: 64pt;
        width: 64pt;
        border-radius: 100%;
        outline: none;
        border: none;
        background-image: linear-gradient(145deg, var(--top-gradient), var(--bottom-gradient));
        transition-duration: 0.5s;
        box-shadow: 4px 4px 8px (var(--shadow)), -4px -4px 8px var(--glow);
        cursor: pointer;
    }
    button:hover {
        box-shadow: 6px 6px 12px (var(--shadow)), -6px -6px 12px var(--glow);
    }
    button:active {
        box-shadow: inset 3px 3px 8px (var(--shadow)), inset -3px -3px 8px var(--glow);
    }
}