header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 6pt 12pt var(--shadow);
  padding: var(--padding);
  box-sizing: border-box;
  background: transparent;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  box-sizing: border-box;
  width: 100%;
}

.main-preferences {
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
  grid-template-rows: auto;
  width: 100%;
  height: 100%;
  margin-top: var(--padding);
  padding: var(--padding);
  box-sizing: border-box;
  gap: var(--padding);
  max-width: 960pt;
}

.palette-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10fr;
  grid-template-rows: repeat(3, auto);
  row-gap: var(--padding);
  z-index: 10;
}
.palette-wrapper .color-box {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
  border-radius: var(--border-radius);
  box-shadow: 5pt 5pt 5pt var(--shadow);
}
.palette-wrapper .color-box label {
  transform: rotate(-90deg);
  transition: 0.5s;
  font-size: var(--font-size);
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.palette-wrapper .color-box input {
  background: var(--shadow);
  height: 20%;
  outline: none;
  border: none;
  position: absolute;
  bottom: 0;
  z-index: 5;
  transform: translateY(100%);
  transition: 0.5s;
  text-align: center;
  font-size: var(--font-size);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.1rem;
  border-bottom: 2pt solid var(--shadow);
  width: 5rem;
  text-transform: lowercase;
}
.palette-wrapper .color-box input:focus {
  border-color: var(--primary-color);
}
.palette-wrapper .color-box input:invalid {
  border-color: #ee0000;
}
.palette-wrapper .color-box .hex-prefix {
  position: absolute;
  bottom: 0;
  z-index: 6;
  left: 50%;
  transform: translate(-100%, 100%);
  transition: 0.5s;
  height: 20%;
}
.palette-wrapper .color-box::after {
  content: "";
  position: absolute;
  background: var(--shadow);
  height: 25%;
  bottom: 0;
  z-index: 1;
  transform: translateY(100%);
  transition: 0.5s;
  width: 100%;
}
.palette-wrapper .color-box:hover label {
  transform: translateY(-100%) rotate(0deg);
}
.palette-wrapper .color-box:hover input {
  transform: translateY(0%);
}
.palette-wrapper .color-box:hover .hex-prefix {
  transform: translate(calc(-100% - 2.5rem), 0%);
}
.palette-wrapper .color-box:hover {
  border-radius: 0;
  width: 200%;
  box-shadow: 2pt 2pt 4pt var(--shadow);
}
.palette-wrapper .color-box:hover::after {
  transform: translateY(0%);
}
.palette-wrapper .primary {
  background: var(--primary-color);
}
.palette-wrapper .primary label {
  color: var(--background);
}
.palette-wrapper .accent {
  background: var(--accent-color);
}
.palette-wrapper .accent label {
  color: var(--primary-color);
}
.palette-wrapper .background {
  background: var(--background);
}
.palette-wrapper .background label {
  color: var(--primary-color);
}

.display-toggle-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  grid-template-rows: repeat(2, 5fr);
  padding: 0 calc(var(--padding));
  box-sizing: border-box;
  gap: var(--padding);
}
.display-toggle-wrapper .display-settings {
  height: 100%;
  background-color: var(--background);
  border-radius: var(--border-radius);
  align-items: center;
  position: relative;
  box-shadow: 10pt 10pt 10pt var(--shadow);
}
.display-toggle-wrapper .display-settings .drex-slider {
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 6;
  transform: translate(-2px, 2px);
}
.display-toggle-wrapper .display-settings .drex-toggle-box {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
  transition-duration: 0.5s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  opacity: 50%;
}
.display-toggle-wrapper .display-settings .drex-toggle-box p {
  font-size: calc(var(--font-size) * 6);
  z-index: 7;
  pointer-events: none;
  color: var(--accent-color);
  background-blend-mode: difference;
}
.display-toggle-wrapper .display-settings .drex-toggle-box::after {
  content: "";
  background-color: var(--primary-color);
  opacity: 0.4;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.5s;
}
.display-toggle-wrapper .display-settings .drex-toggle-box:hover {
  opacity: 90%;
}
.display-toggle-wrapper .display-settings .drex-toggle-box:hover p {
  color: var(--accent-color);
}
.display-toggle-wrapper .display-settings .drex-toggle-box:active,
.display-toggle-wrapper .display-settings .drex-toggle-box.selected:active {
  opacity: 100%;
  background-color: var(--background);
}
.display-toggle-wrapper .display-settings .drex-toggle-box.selected::after {
  content: "";
  background-color: var(--primary-color);
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition-duration: 0.3s;
  transform: translateY(-100%);
}
.display-toggle-wrapper .display-settings .drex-toggle-box.selected::after {
  transform: translateY(0%);
  opacity: 1;
}
.display-toggle-wrapper .display-settings .drex-toggle-box:hover::after {
  opacity: 0.6;
}
.display-toggle-wrapper .display-settings .drex-toggle-box.selected {
  opacity: 100%;
  border: 2pt solid var(--accent-color);
  background-color: var(--background);
}
.display-toggle-wrapper .display-settings .drex-toggle-box.selected p {
  color: var(--accent-color);
}
.display-toggle-wrapper .display-settings .drex-toggle-box.selected:hover::after {
  background-color: var(--primary-color);
}

.misc-settings {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--padding) * 3);
}
.misc-settings h3 {
  margin-top: 0;
}
.misc-settings .options-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.misc-settings .options-list .drex-checkbox {
  --size: var(--font-size) ;
}
.misc-settings .style-type-list-container {
  width: 100%;
}
.misc-settings .style-type-list-container .style-type-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.misc-settings .style-type-list-container .style-type-list .drex-radio {
  --size: var(--font-size) ;
}

:root {
  --padding: 15pt;
  --rows: 6;
  --cols: 4;
  --stroke-width: 30pt;
  --primary-color: #13246b;
  --accent-color: #dfaf12;
  --background: #dedede;
  --top-gradient: #c4c4c4;
  --bottom-gradient: #f1f1f1;
  --shadow: #0a0a37;
  --glow: #f8f7f7;
  --font-size: 12pt;
}

[data-theme=dark] {
  --primary-color: #006e8b;
  --background: #0f0f26;
  --top-gradient: #191930;
  --bottom-gradient: #05051c;
  --shadow: #000013;
  --glow: #006481;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(145deg, var(--top-gradient), var(--bottom-gradient));
  overflow: hidden;
  padding: 0;
  height: 100vh;
}

.clock-bg-filter {
  height: 0;
}

.main-content {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100dvh;
}

.display-page {
  flex-flow: column nowrap;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  padding: var(--padding);
  box-sizing: border-box;
}

.preferences-page {
  flex-flow: column;
  scroll-snap-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.preferences-page button {
  height: 64pt;
  width: 64pt;
  border-radius: 100%;
  outline: none;
  border: none;
  background-image: linear-gradient(145deg, var(--top-gradient), var(--bottom-gradient));
  transition-duration: 0.5s;
  box-shadow: 4px 4px 8px var(--shadow), -4px -4px 8px var(--glow);
  cursor: pointer;
}
.preferences-page button:hover {
  box-shadow: 6px 6px 12px var(--shadow), -6px -6px 12px var(--glow);
}
.preferences-page button:active {
  box-shadow: inset 3px 3px 8px var(--shadow), inset -3px -3px 8px var(--glow);
}

/*# sourceMappingURL=style.css.map */
